# IntelliJ
.idea/
*.iml

# Local database
/data/
*.mv.db
*.trace.db

# Local environment
.env

# Android & Gradle (새로 추가된 항목)
.gradle/
**/build/
**/local.properties

# Android Studio Output
*.apk
*.aar
*.dex